.captionItem {
  box-sizing: border-box;
  width: 100%;

  .userName {
    box-sizing: border-box;
    color: var(---white, #fff);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.449px;
  }

  .content {
    color: var(---white, #fff);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .translate {
    margin-top: 2px;
    color: var(--Warning-400-T, #ffcf74);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .arabic {
    direction: rtl;
  }

}

