.caption {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 900px;
  height: 150px;
  padding: 0 24px 10px 24px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  z-index: 1;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  will-change: auto;

  &:global(.hidden) {
    visibility: hidden;
  }
}
