.header {
  display: flex;
  padding: 0 24px;
  width: 100%;
  height: 48px;
  padding: 24px;
  align-items: center;
  flex-shrink: 0;
  background: #fff;
  box-shadow:
    0px 4px 6px -2px rgba(8, 15, 52, 0.03),
    0px 12px 16px -4px rgba(8, 15, 52, 0.06);
  box-sizing: border-box;
  z-index: 1;

  .channelName {
    margin-left: 6px;
    color: #667085;
    font-size: 14px;
    font-weight: 400;
  }

  .transcription {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    margin-left: 6px;
    font-size: 0;

    .text {
      margin-left: 4px;
      color: #667085;
      text-align: right;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
  }
}
