.content {
  position: relative;
  padding: 4px 4px;

  .item {
    height: 30px;
    width: 180px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 4px;
    cursor: pointer;

    .text {
      flex: 1 1 auto;
      color: var(--Grey-800, #344054);
      font-size: 14px;
      font-weight: 400;
      line-height: 22px; /* 157.143% */
    }

    &:global(.active) {
      background-color: var(--Grey-100, #f9fafb);
    }
  }
}
