.menu {
  position: relative;
  width: 368px;
  height: 100%;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 3px 3px 0px 0px;
  border-left: 1px solid var(--Grey-300, #eaecf0);
  background: #fff;
  box-sizing: border-box;

  .content {
    position: relative;
    width: 100%;
    height: calc(100% - 40px);
  }
}
