VITE_AGORA_APP_ID=<YOUR_APP_ID>
VITE_AGORA_APP_CERTIFICATE=<YOUR_APP_CERTIFICATE>
VITE_AGORA_AUTH_USERNAME=<YOUR_AUTH_USERNAME>
VITE_AGORA_AUTH_PASSWORD=<YOUR_AUTH_PASSWORD>
VITE_AGORA_DEMO_SERVER==https://agora-rtt-service.dc3.agoralab.co
